body{
    background-color: white;
}

#menubar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 2px);
    height: calc(10% - 4px);
    background-color: #202c37;
    border: 2px solid #202c37;
    color: #bed7dc;
    /* border-radius: 8px; */
}

#sidebar{
    position: fixed;
    top: 9.7%;
    left: 0px;
    width: calc(20% - 4px);
    height: calc(90% - 1px);
    background-color: #bed7dc;
    border: 2px solid black;
    /* border-radius: 8px; */
    text-align: center;
    font-size: 30px;
}

#img1{
    position: relative;
    margin-top: 10px;
    width: 70%;
    /* left: 15%; */
    border-radius: 50%;
}

#title{
    position: relative;
    font-size: 40px;
    font-family: cursive;
    height: 8%;
    left: 4%;
}

#codetitle{
    position: fixed;
    height: 7%;
    top: 10.2%;
    left: 20.5%;
    background-color: #202c37;
    color: white;
    width: 30%;
    border: 2px solid #202c37;
    border-radius: 5px 5px 0px 0px;
    font-size: 40px;
    text-align: center;
}

#codefiles{
    position: fixed;
    background-color: #c7dfb8;
    text-align: center;
    top: 17.5%;
    left: 20.5%;
    width: 30%;
    height: calc(82% - 13px);
    max-height: calc(81.5% - 4px);
    border: 2px solid #202c37;
    border-radius: 0px 0px 5px 5px;
    font-size: 25px;
    /* padding-left: 10px; */
    padding-bottom: 10px;
    overflow: auto;
}

#create{
    position: relative;
    width: 48%;
    height: 50px;
    border: 2px solid black;
    font-family: cursive;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f2d2a9;
}

#upload{
    position: relative;
    width: 48%;
    height: 50px;
    border: 2px solid black;
    font-family: cursive;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f2d2a9;
}

#create:hover{
    background-color: black;
    color:#cddfff;
    transition: 1s;
}

#upload:hover{
    background-color: black;
    color:#cddfff;
    transition: 1s;
}

#filename{
    position: relative;
    margin-top: 20px;
}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2))
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%;
    left: 30%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    background-color: #202c37;
    color: white;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem auto
}

.modal-title {
    font-size: 30px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    left: 8%;
    width: 85%;
    /* margin-left: 10%; */
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background-color: #bed7dc;
    padding: 1rem
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    background-color: #bed7dc;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem
}

.modal-footer>:not(:last-child) {
    margin-right: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
    outline: 0;
}

.close {
    /* float: right; */
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    /* text-shadow: 0 1px 0 #fff; */
    /* opacity: .5; */
    background-color: #202c37;
    color: white;
    border: 2px solid #202c37;

}

.close:focus,
.close:hover {
    color: white;
    text-decoration: none;
    opacity: .75;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn:focus,
.btn:hover {
    text-decoration: none
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn.disabled,
.btn:disabled {
    opacity: .65
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    background-image: none
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

#exampleModalLongTitle{
    font-size: 35px;
}

#labelhi1{
    position: relative;
    display: block;
    left: 4%;
    width: 90%;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: #f2d2a9;
    color: black;
    padding: 1%;
    padding-top: 3%;
    text-align: center;
    margin-top: 15px;
}

#labelhi1:hover{
    background-color: black;
    color:#cddfff;
    transition: 1s;
}

.inputh2{
    position: relative;
    left: 4%;
    width: 90%;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: white;
    color: black;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* .inputh3{
    position: absolute;
    left: 4%;
    width: 500px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: white;
    color: black;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
} */

#inputhi1{
    top: 15%;
}

#inputhi2{
    margin-top: 15px;
    top: 30%;
}

#inputhi3{
    width: 100%;
    display: none;
}

#buttonhi4{
    display: block;
    position: relative;
    width: 92.5%;
    left: -3%;
    height: 70px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: #f2d2a9;
    color: black;
    padding: 1%;
    margin-bottom: 2%;
}

#buttonhi4:hover{
    background-color: black;
    color:#cddfff;
    transition: 1s;
}

#selectforf{
    position: relative;
    display: inline;
    width: 25%;
    height: 34px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #202c37;
    background-color: #202c37;
    color: white;
    outline: none;
}

#selectOptions1 {
    display: none;
    position: absolute;
    top: 86.5%;
    left: 6.5%;
    width: 87%;
    font-size: 25px;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

#selectOptions2 {
    display: none;
    position: absolute;
    top: 70%;
    left: 6.5%;
    width: 87%;
    font-size: 25px;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

.option {
    padding: 10px;
    cursor: pointer;
}
.option:hover {
    background-color: #f9f9f9;
}

.poption{
    max-height: 40px;
}

#dtitle{
    position: fixed;
    background-color: #202c37;
    color: white;
    text-align: center;
    font-size: 40px;
    width: 48.2%;
    top: 10.2%;
    height: 7%;
    left: 51.3%;
    border: 2px solid #202c37;
    border-radius: 5px 5px 0px 0px;
}

#groups{
    position: fixed;
    background-color: #c7dfb8;
    height: calc(82% - 13px);
    border: 2px solid black;
    border-radius: 0px 0px 5px 5px;
    left: 51.3%;
    top: 17.5%;
    width: 48.2%;
    padding-bottom: 10px;
}

#markread{
    position: relative;
    width: 49%;
    left: 1%;
    height: 50px;
    border: 2px solid black;
    font-family: cursive;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f2d2a9;
}

#creategroup{
    position: relative;
    width: 49%;
    left: 1%;
    height: 50px;
    border: 2px solid black;
    font-family: cursive;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f2d2a9;
}

#markread:hover{
    background-color: black;
    color:#cddfff;
    transition: 1s;
}

#creategroup:hover{
    background-color: black;
    color:#cddfff;
    transition: 1s;
}

#discussions{
    text-align: center;
    position: relative;
    font-size: 25px;
    padding-top: 3%;
    border-radius: 5px;
    /* left: 1%; */
    width: 100%;
}

#groupModalTitle{
    text-align: center;
    font-size: 35px;
}

#gdesc{
    resize: none;
    height: 150px;
}

#file{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    text-align: left;
    background-color: #c7dfb8;
    color: black;
}

#file:hover{
    /* background-color: black;
    color: #cddfff; */
    transition: 1s;
    filter: invert(100%);
}

#p{
    display: inline-block;
    position: relative;
    margin: 0px;
    margin-left: 20px;
    /* padding-bottom: 10px; */
}

.document{
    display: inline-block;
    position: relative;
    padding-top: 10px;
    height: 25px;
}

.sidenames{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidenames:hover{
    background-color: black;
    color: #cddfff;
    transition: 1s;
}

.group-list {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    /* border-right: 2px solid black; */
    /* border-radius: 5px; */
    overflow-y: auto;
    top: 3%; 
}

.group-list-item {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    text-align: left;
    background-color: #c7dfb8;
    color: black;
    overflow: hidden;
}

.group-list-item:hover{
    transition: 1s;
    filter: invert(100%);
}

.name{
    display: inline-block;
    position: relative;
    width: 90%;
    left: 4%;
    /* margin: auto; */
    font-size: 35px;
    text-align: left;
}

#gimage{
    display: inline-block;
    position: relative;
    padding-top: 10px;
    /* margin-top: 10px; */
    height: 40px;
}

.unread{
    display: inline-block;
    position: relative;
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 50%;
    width: 5%;
    border-radius: 50%;
    text-align: center;
}

#logout{
    position: fixed;
    left: 89%;
    width: 10%;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: #f2d2a9;
    color: black;
    padding: 1px;
    margin-top: 3px;
}

#logout:hover{
    background-color: black;
    color: #cddfff;
    transition: 1s;
}

#profile{
    position: fixed;
    left: 78%;
    width: 10%;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: #f2d2a9;
    color: black;
    padding: 1px;
    margin-top: 3px;
}

#profile:hover{
    background-color: black;
    color: #cddfff;
    transition: 1s;
}